In [1]:
import pandas as pd

excel_file_path = r"D:\A7985\Hari\Work\Projects\Blue Lake\VS code\onedrivefoldercreated\table_generation\DB項目定義書（L1_APP_DCS）dcs_v1.0.xlsx"
my_sheet_name = 'APRS_FLIGHT'


df = pd.read_excel(excel_file_path, sheet_name=my_sheet_name, header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,DB Item Definition,NaN,NaN,NaN,NaN,TABLE ID:,NaN,NaN,NaN,NaN,Standard Audit,Distributed Style,NaN,Record Length:,90,Author :,ASY Takei,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,B1_OW_DCS_CM_APRS_FLIGHT_TXN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Creation Date :,2023-10-09 00:00:00,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,TABLE NAME:,NaN,NaN,NaN,NaN,NaN,EVEN,NaN,Number of Columns:,11,Modified by :,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,DCSCM制約_コンピュータ支援型旅客事前スクリーニングシステム詳細,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Modified date :,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,No,Column Name(JP),Column Name(EN),Column ID,NaN,NaN,NaN,Attributes,NaN,NaN,NaN,NaN,Example Of Setting Values,NaN,Meaning,NaN,NaN,Date Of Change,Change Type
7,NaN,NaN,NaN,NaN,NaN,Type,Size,KEY,Default,NaN,Compression,SIZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,抽出日,EXTRACT DATE,EXTRACT_DATE,NaN,VC,8,P-1,NaN,None,LZ,8,'20230115',NaN,日付フォーマット変換（YYYYMMDD）\nDate of extraction (in Y...,NaN,NaN,NaN,NaN
9,2,NaN,SEQID DCSCM FEED,SEQID_DCSCM_FEED,NaN,BI,8,P-2,NaN,None,LZ,8,NaN,NaN,DD-3548:DCSCM サロゲートキー,NaN,NaN,NaN,NaN
10,3,NaN,OPERATION CARRIER CODE,OPERATION_CARRIER_CODE,NaN,VC,3,NaN,NaN,NaN,LZ,13,NaN,NaN,DD-1876:operating carrier code,NaN,NaN,NaN,NaN
11,4,NaN,FLIGHT NUMBER,FLIGHT_NUMBER,NaN,VC,4,NaN,NaN,NaN,LZ,4,NaN,NaN,0パディング(前０)char型4桁変換\nDD-0186:operating flight ...,NaN,NaN,NaN,NaN
12,5,NaN,FLIGHT SUFFIX,FLIGHT_SUFFIX,NaN,VC,1,NaN,NaN,NaN,LZ,13,NaN,NaN,DD-1619:operating flight suffix,NaN,NaN,NaN,NaN
13,6,NaN,FLIGHT LEG DEPARTURE DATE,FLIGHT_LEG_DEP_DATE,NaN,VC,8,NaN,NaN,NaN,LZ,8,NaN,NaN,日付フォーマット変換（YYYYMMDD）\nDD-0961:Local Leg Standa...,NaN,NaN,NaN,NaN
14,7,NaN,DEPARTURE AIRPORT CODE,DEP_AIRPORT_CODE,NaN,VC,3,NaN,NaN,NaN,LZ,13,NaN,NaN,DD-0179:boardpoint of the flight leg,NaN,NaN,NaN,NaN
15,8,NaN,JST CREATE DATETIME,JST_CREATE_DATETIME,NaN,TS,8,NaN,NaN,NaN,DE32,8,NaN,NaN,DD-4505:JST Data Create Date/Time,NaN,NaN,NaN,NaN
16,9,NaN,JST UPDATE DATETIME,JST_UPDATE_DATETIME,NaN,TS,8,NaN,NaN,NaN,DE32,8,NaN,NaN,DD-4506:JST Data Update Date/Time,NaN,NaN,NaN,NaN
17,10,NaN,UPDATE CONTAINER ID,UPDATE_CONTAINER_ID,NaN,VC,20,NaN,NaN,NaN,LZ,3,NaN,NaN,DD-5806:レコードを更新したコンテナを識別するID,NaN,NaN,NaN,NaN
18,11,NaN,UPDATE USER ID,UPDATE_USER_ID,NaN,VC,20,NaN,NaN,NaN,LZ,4,NaN,NaN,DD-4508:UPDATE USER ID #ANA original. used onl...,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Type (C: CHAR VC: VARCHAR N: NUMERIC TS: times...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Null (None: Not Nullable),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Compression (BY: BYTEDICT DE: DELTA DE 32: DEL...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# column_names = ['A','B','C','D','E','F','G']
column_names = ['col_jp_logical_name','col_en_logical_name','col_physical_name','col_datatype','col_size','col_pk_key','col_description']


numeric_mask = pd.to_numeric(df[0], errors='coerce').notna()
column_structure_df = df[[1,2,3,5,6,7,14]][numeric_mask]

column_structure_df.columns = column_names
physical_name= 'B1_OW_DCS_CM_APRS_FLIGHT_TXN'
# column_structure_df['H'] = 'B1_OW_DCS_CM_APRS_FLIGHT_TXN'
column_structure_df.insert(0,'H','B1_OW_DCS_CM_APRS_FLIGHT_TXN')
column_structure_df.insert(1,'table_jp_logical_name','DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER PRE-SCREENING SYSTEM DETAILS')
column_structure_df['col_ignored']=0

column_structure_df

,H,table_jp_logical_name,col_jp_logical_name,col_en_logical_name,col_physical_name,col_datatype,col_size,col_pk_key,col_description,col_ignored
8,B1_OW_DCS_CM_APRS_FLIGHT_TXN,DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER P...,抽出日,EXTRACT DATE,EXTRACT_DATE,VC,8,P-1,日付フォーマット変換（YYYYMMDD）\nDate of extraction (in Y...,0
9,B1_OW_DCS_CM_APRS_FLIGHT_TXN,DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER P...,NaN,SEQID DCSCM FEED,SEQID_DCSCM_FEED,BI,8,P-2,DD-3548:DCSCM サロゲートキー,0
10,B1_OW_DCS_CM_APRS_FLIGHT_TXN,DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER P...,NaN,OPERATION CARRIER CODE,OPERATION_CARRIER_CODE,VC,3,NaN,DD-1876:operating carrier code,0
11,B1_OW_DCS_CM_APRS_FLIGHT_TXN,DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER P...,NaN,FLIGHT NUMBER,FLIGHT_NUMBER,VC,4,NaN,0パディング(前０)char型4桁変換\nDD-0186:operating flight ...,0
12,B1_OW_DCS_CM_APRS_FLIGHT_TXN,DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER P...,NaN,FLIGHT SUFFIX,FLIGHT_SUFFIX,VC,1,NaN,DD-1619:operating flight suffix,0
13,B1_OW_DCS_CM_APRS_FLIGHT_TXN,DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER P...,NaN,FLIGHT LEG DEPARTURE DATE,FLIGHT_LEG_DEP_DATE,VC,8,NaN,日付フォーマット変換（YYYYMMDD）\nDD-0961:Local Leg Standa...,0
14,B1_OW_DCS_CM_APRS_FLIGHT_TXN,DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER P...,NaN,DEPARTURE AIRPORT CODE,DEP_AIRPORT_CODE,VC,3,NaN,DD-0179:boardpoint of the flight leg,0
15,B1_OW_DCS_CM_APRS_FLIGHT_TXN,DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER P...,NaN,JST CREATE DATETIME,JST_CREATE_DATETIME,TS,8,NaN,DD-4505:JST Data Create Date/Time,0
16,B1_OW_DCS_CM_APRS_FLIGHT_TXN,DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER P...,NaN,JST UPDATE DATETIME,JST_UPDATE_DATETIME,TS,8,NaN,DD-4506:JST Data Update Date/Time,0
17,B1_OW_DCS_CM_APRS_FLIGHT_TXN,DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER P...,NaN,UPDATE CONTAINER ID,UPDATE_CONTAINER_ID,VC,20,NaN,DD-5806:レコードを更新したコンテナを識別するID,0
18,B1_OW_DCS_CM_APRS_FLIGHT_TXN,DCSCM CONSTRAINT COMPUTER-ASSISTED PASSENGER P...,NaN,UPDATE USER ID,UPDATE_USER_ID,VC,20,NaN,DD-4508:UPDATE USER ID #ANA original. used onl...,0

In [3]:
import openpyxl
import pandas as pd



def get_all_sheets(excel_file_path):
    workbook = openpyxl.load_workbook(excel_file_path)
    # Get all sheet names
    sheet_names = workbook.sheetnames
    return sheet_names


def get_valid_sheets(excel_file_path, index_sheet=None):
    all_sheets = get_all_sheets(excel_file_path)

    # index sheet existence
    if index_sheet not in all_sheets or index_sheet is None:
        raise ValueError(f"{index_sheet} not found in the list. so CANNOT PROCEED.")
        # all_sheets.remove(index_sheet)
    
    all_sheets.remove(index_sheet)
    return all_sheets

def get_tablenames_columnnames_in_dataframe_from_single_sheet(excel_file_path, mysheet_name):
    df_excel = pd.read_excel(excel_file_path, sheet_name=mysheet_name, header=None)

    # =========Get table name details=========
    table_en_logical_name = df_excel[5][4]
    table_jp_logical_name = df_excel[5][3]
    table_physical_name = df_excel[5][1]
    # print(f'{table_jp_logical_name},{table_en_logical_name},{table_physical_name}')



    # =======Get column Details in a data frame ========
    


    numeric_mask = pd.to_numeric(df_excel[0], errors='coerce').notna()
    # column_names = ['col_jp_logical_name','col_en_logical_name','col_physical_name','col_datatype','col_size','col_pk_key','col_description']
    # column_structure_df = df_excel[[1,2,3,5,6,7,14]][numeric_mask]
    column_names = ['col_jp_logical_name','col_en_logical_name','col_physical_name','col_datatype','col_size','col_pk_key']
    column_structure_df = df_excel[[1,2,3,5,6,7]][numeric_mask]


    column_structure_df.columns = column_names

    # =======append table name details to column details ==========
    column_structure_df.insert(0,'table_physical_name',table_physical_name)
    column_structure_df.insert(1,'table_en_logical_name',table_en_logical_name)
    column_structure_df.insert(2,'table_jp_logical_name',table_jp_logical_name)
    column_structure_df['col_ignored']=0

    return column_structure_df
    
def load_df_to_csv(sheet_data_frame, csv_file_path: str, header_csv: bool=False):
    
    # print(csv_file_path)    
    sheet_data_frame.to_csv(csv_file_path, mode='a',encoding='UTF-8', header=header_csv, index=False)

    


def get_ignored_columns(file_path,sheet_individual):
    ignored_color = '808080'
    print('Entered')
    pass
    



    
def start(excel_file_path,index_sheet,csv_path):
    list_of_sheets = get_valid_sheets(excel_file_path,index_sheet)
    
    # INITIALIZE THE CSV FILE
    with open(csv_path, 'w'):
        pass  # This just opens and immediately closes the file, effectively truncating it
    
    # start processing each sheet 
    print('******* STARTED PROCESSING ************')
    first_time_only_header:bool = True
    for mysheet in list_of_sheets:
        # Get ignored columns or fields
        list_of_ignored_columns = get_ignored_columns(excel_file_path,mysheet)


        # Load sheet data in to csv
        sheet_data_frame = get_tablenames_columnnames_in_dataframe_from_single_sheet(excel_file_path,mysheet)
        load_df_to_csv(sheet_data_frame,csv_path,first_time_only_header)

        if first_time_only_header:
            first_time_only_header = False


        print(f'Completed processing for sheet ==>     {mysheet}')
        # for loop ends here
    print(f'\n  Loaded data  :     {csv_path}')
    print("******* PROCESSING COMPLETED ************")
    

# excel_file_path = r"D:\Bluelake_02\REQUIREMENTS\23.DB定義書 (DB Definition)\DB項目定義書（L1_APP_DCS）dcs_v1.0.xlsx"
# index_sheet = 'TABLE_OF_CONTENTS'
# csv_path = r"D:\A7985\Hari\Work\Projects\Blue Lake\VS code\L1_db_table_data.csv"

# excel_file_path = r"D:\Bluelake_02\REQUIREMENTS\23.DB定義書 (DB Definition)\DB項目定義書（L2_APP_DCS）dcs_v1.0.xlsx"
# index_sheet = '目次'
# csv_path = r"D:\A7985\Hari\Work\Projects\Blue Lake\VS code\L2_db_table_data.csv"




excel_file_path = r"D:\A7985\Hari\Work\Projects\Blue Lake\VS code\onedrivefoldercreated\table_generation\DB項目定義書（L2_APP_DCS）dcs_v1.0.xlsx"
index_sheet = '目次'
csv_path = r"D:\A7985\Hari\Work\Projects\Blue Lake\VS code\L1_db_table_data.csv"

start(excel_file_path=excel_file_path,
      index_sheet=index_sheet,
      csv_path=csv_path)

******* STARTED PROCESSING ************
Entered
Completed processing for sheet ==>     搭乗系フライト情報

  Loaded data  :     D:\A7985\Hari\Work\Projects\Blue Lake\VS code\L1_db_table_data.csv
******* PROCESSING COMPLETED ************